*{
    -webkit-overflow-scrolling: touch;			/* 允许独立滚动区域，解决IOS上的非body元素滚动条滚动时卡顿 */
    -webkit-tap-highlight-color: transparent;	/* 覆盖IOS上用户点击连接时的默认高亮颜色 */
    -webkit-touch-callout:none;					/* 禁用系统默认菜单，相当于禁用右键菜单 */
    -webkit-user-select: none;					/* 文本不能被选择，不是禁用复制粘贴 */
    user-select: none;
    outline: none;
    letter-spacing: 1px;
}
body{
    margin:0;
    padding:0;
    background-color:#222;
    color:#222;
    -webkit-font-smoothing:antialiased;			/* 平滑字体 */
    -moz-osx-font-smoothing: grayscale;			/* 平滑字体 */
    -ms-touch-action: manipulation;				/* 允许触摸驱动的平移和拖拽缩放 */
    touch-action: manipulation;					/* 允许触摸驱动的平移和拖拽缩放 */
    -webkit-text-size-adjust:100%;				/* 关闭IOS横屏时，自动调整字体大小的功能 */
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
div,ul,li{position:relative;display:block;box-sizing: border-box}			    /* 全部都是相对定位 */
ul{margin:0;padding:0;}								/* ul相当于div */
li{list-style:none;margin:0;padding:0;}				/* li相当于div */
img,span{vertical-align:middle;border:0;}
input{line-height:normal;}
input,textarea{-webkit-user-select:text;user-select:text;}/* 表单元素的文本可以被选择 */
a:focus,a:hover,a:active{outline:none;}
a{text-decoration:none;}
button{cursor:pointer;padding:0 !important;}
label{cursor:pointer;}
sub,sup{font-size:75%;line-height: 0;position: relative;vertical-align: baseline;} /* 重新定义上标和下标的表现 */
sup{top: -.5em;}
sub{bottom: -.25em;}
table{border-spacing: 0;border-collapse: collapse;} /* 边框合并为单一的边框 */
td,th{padding: 0;}

.boss{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/** 底部 **/
.boss .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: rgba(0,0,0,.8);
    color: #888;
    font-size: 12px;
    text-align: right;
    padding: 0 16px;
}
.boss .footer a{
    color: #888;
}
.boss .footer a:hover{
    color: #f0f0f0;
}

/** loading **/
.loading-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #222;
}
.loading-box .hide img{
    transform: scale(0,0);
}
.loading-box .hide .per{
    transform: scale(0, 0);
}
.loading-box>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #888;
    text-align: center;
    font-style: italic;
    font-size: 13px;
}
.loading-box>div img{
    width: 50px;
    height: auto;
    border-radius: 3px;
    margin-bottom: 8px;
    transition: all .2s;
}
.loading-box .per{
    transition: all .4s;
}
/** 主canvas **/
.canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
}